.clean-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
    align-items: center;
}
.end{
    justify-content: end;
    align-items: center;
}
.gap{
    gap: 0.5em;
}

.nice-color{
    color: var(--prince-clr);
}
.padding-inline-start{
    padding-inline-start: 2em;
}
/* .padding-inline-start{
    padding-inline-start: 0.5em;
} */
.btn {
	padding: 5px 10px;
	background: #4267b2;
	border: 1px solid #4267b2;
	border-radius: 3px;
	margin: 3px;
    
	text-decoration: none;
    font-size: 1.375em;
	color: #fff;
	cursor: pointer;
}
.btn:hover{
    transition: 0.5s;
    color:  #4267b2;
    background-color: #fff;
}
.font-size-btn{
    font-size: 0.9em;
}
.hidden{
    display: none;
}