.main-layout{
    display: grid;
    grid-template-columns:
        minmax(20px,1fr)
        minmax(auto,800px)
        minmax(20px,1fr);
        grid-gap: 3em;
}
.main-layout header{
    grid-column: 2;
}
.main-layout .editor  {
grid-column: 2;
}
.main-layout .gallery{
    grid-column: 2;
}
.main-layout .saved{
    grid-column: 2;
}