.main-header {
    background-color: var(--primery-end);
    position: relative;
}

.main-header:hover {
    cursor: pointer;
}

.main-header ul {
    gap: 12em;
}


.main-header ul>* {
    height: 70px;
    border: solid var(--primery-end);
}

.main-header ul>*:hover {
    transition: 0.5s;
    background-color: aliceblue;
    color: black;

}


.main-header select {
    position: absolute;
    right: 0;
}